@font-face {
	font-family: minecraft;
	src: url('../fonts/minecraft/minecraftfont.woff') format('woff'), 
		url('../fonts/minecraft/minecraftfont.ttf') format('truetype');
	font-weight: 900;
}

body {
	background-image: url('../images/sample.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.title-text-container {
	display: flex;
	height: 95%;
	flex-direction: column;
}

.title-text-div {
	margin: auto;
}

.title-text {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: minecraft;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #000;
}

.credits-container {
	height: 5%;
}
