@font-face {
	font-family: minecraft;
	src: url('../fonts/minecraft/minecraftfont.woff') format('woff'), url('../fonts/minecraft/minecraftfont.ttf') format('truetype');
	font-weight: 900;
}

html, body {
	background-image: url('../images/sample.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	margin: 0;
}

.box {
	display: flex;
	flex-direction: column;
	height: 100%;
}

	.box .content {
		flex: 1 1 auto;
		display: flex;
	}

	.box .footer {
		flex: 0 1 auto;
	}

.title-text {
	display: flex;
	justify-content: center;
	color: white;
	font-family: minecraft;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #000;
}

.clock {
	font-size: 4rem;
}

.container {
	margin: auto;
}
